@charset "UTF-8";

@keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes fadeOut{
    from{opacity: 1;}
    to{opacity: 0;}
}

@-webkit-keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}

@-webkit-keyframes fadeOut{
    from{opacity: 1;}
    to{opacity: 0;}
}

.fadeIn{
    animation: fadeIn;
    animation-duration:0.5s;
}

.fadeOut{
    animation: fadeOut;
    animation-duration: 0.5s;
}

/* nav_icon */
.nav_icon.active div:nth-of-type(1) {
    -webkit-transform: translateY(5px) rotate(45deg);
    transform: translateY(5px) rotate(-45deg);
}

.nav_icon.active div:nth-of-type(2) {opacity: 0;}

.nav_icon.active div:nth-of-type(3) {
    -webkit-transform: translateY(-7px) rotate(45deg);
    transform: translateY(-7px) rotate(45deg);
}

.nav_menu.active {transform: translateX(0%); display: block;}