@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

/* reset영역 */
html{font-size: 10px;}
*, img{padding: 0; margin: 0; box-sizing: border-box;}
a{text-decoration: none;}
ul, li{list-style: none; text-decoration: none; color: #6A6A6A;}
body{margin: 0 auto; font-family:'NanumSquare', 'Nanum Gothic', 'MalgunGothic', 'Dotum', 'Gulim', 'Arial', sans-serif;}
.container{width: 1200px; margin: 0 auto;}
p, button, a, h1, h2, h3, h4, h5, h6, tr, span, li, div, input, textarea, select, caption, table th, table td {
    font-family:'NanumSquare', 'Nanum Gothic', 'MalgunGothic', 'Dotum', 'Gulim', 'Arial', sans-serif; 
    color: #6A6A6A; font-weight: 500; line-height: 3.5rem;}
h3{font-size: 4rem; color: #805E40; font-family: 'Montserrat', sans-serif; display: inline-block; font-weight: bold;}
img{vertical-align: top;}

/* 버튼 */
button{outline:none; width: 275px; height: 80px; border-radius: 40px; background-color: #805E40; font-size: 1.8rem; color: #fff; letter-spacing: 1rem; text-transform: uppercase; font-weight: bold; border: none; cursor: pointer;}
button > a{color: #fff;}
.prev{margin-right: 30px; width: 50px; height: 50px; background-color: #fff; border: 1px solid #939393; border-radius: 0; transform: rotate(180deg); display: flex; justify-content: center; align-items: center;}
.next{margin-left: 30px; width: 50px; height: 50px; background-color: #fff; border: 1px solid #939393; border-radius: 0; display: flex; justify-content: center; align-items: center;}

/* 검색버튼 */
.search{display: flex; justify-content: center;}
.search input{border: 1px solid #6A6A6A; padding-left: 30px; padding-right: 10px; outline:none; width: 450px; height: 50px; border-top-left-radius: 40px; border-bottom-left-radius: 40px; font-size: 2rem;}
.search > .search_btn{width: 140px; height: 50px; border-top-right-radius: 40px; border-bottom-right-radius: 40px; border-top-left-radius: 0; border-bottom-left-radius: 0;}

/* header영역 */
header{width: 100%; background-color: #F8F3EF;}
.header{padding: 30px 100px; overflow: hidden; display: flex; justify-content: space-between; align-items: flex-start;}
.header .logo{} 
.header .logo img{width: 100%;} 
.header .menu{margin-left: auto; margin-right: 30px;}
.header .menu p{display: inline-block; font-size: 1.7rem; font-weight: bold; margin-right: 40px;}
.header .menu p:last-child{margin-right: 0;}
.header .icon{}
.header .icon svg{margin-right: 30px;}
.header .icon .search{display: inline-block;}
.header .icon .account{margin-right: 0;}

/* hover영역 */
.header .menu p::after{content: ''; display: block; padding-top: 8px; transform: scaleX(0); transition: transform 250ms ease-in-out; transform-origin: 0% 50%; border-bottom: 3px solid #805E40;}
.header .menu p:hover:after {transform:scaleX(1);}

/* footer영역 */
footer{width: 100%; background-color: rgba(128, 94, 64, 0.3); padding:50px 100px 90px 100px; text-align: center; }
footer > span{font-size: 1.7rem; padding-top: 60px; display: block;}
footer > span::before{width: 100%; content: ''; display: block; border-bottom: 1px solid #fff; margin-bottom: 20px;}
.footer .logo img{width: 100%;}
.footer{display: flex; justify-content: space-between;}
.footer_text{text-align: center;}
.footer_text span{font-size: 1.7rem;}
.sns{display: flex;}
.sns img{margin-right: 10px; width: 30px; height: 30px;}
.sns img:last-child{margin-right: 0px;}




/* mobile */
@media (max-width: 767px) {
    .container{width: 90%;}
    button{width: 130px; height: 35px; font-size: 1rem; letter-spacing: 0.5rem;}
    p, button, a, h1, h2, h3, h4, h5, h6, tr, span, li, div, input, textarea, select, caption, table th, table td{line-height: 1.5rem; font-size: 1rem;}
    h3{font-size: 2.5rem;}

    /* header영역 */

    header{ z-index: 999; width: 100%;}
    .header{padding: 20px; position: relative; overflow: visible;}
    .header .logo img{width:100px;} 
    .header .icon svg{margin-right: 0; width: 20px; height: 20px; margin-right: 10px; }
    .header .icon svg:last-child{margin-right: 0;}
    header .header .menu{left:0; padding: 0px 20px; width: 100%; position: absolute; top: 50px; display: flex; justify-content: space-between;}
    .header .menu p{margin-right: 0;}


    /* footer영역 */
    footer{padding: 20px;}
    footer > span{font-size: 1rem; padding-top: 10px;}
    .footer .logo img{width: 100px;}
    .footer{flex-direction: column;}
    .footer_text span{font-size: 1rem; margin-top: 10px; display: inline-block;}
    .sns{justify-content: center; margin-top: 20px;}
    .sns img{width: 20px; height: 20px;}

    /* search영역 */
    .search{display: flex; justify-content: center;}
    .search input{padding-left: 30px; padding-right: 10px; outline:none; width: 210px; height: 40px; border-top-left-radius: 40px; border-bottom-left-radius: 40px; font-size: 1.25rem;}
    .search > .search_btn{width: 70px; height: 40px; border-top-right-radius: 40px; border-bottom-right-radius: 40px; border-top-left-radius: 0; border-bottom-left-radius: 0;}
}

