
/* header영역 */
header{width: 100%; background-color: #fff;}

/* text영역 */
.text{}
.text_section{margin-top: 100px; width: 100%;}
.text_section::after{content: ''; display: block; border-bottom: 1px solid #707070; margin-top: 15px;}
.text_section > div{display: flex; align-items: flex-end;}
.text_section > div h3{font-size: 5.5rem; margin-right: 300px;}
.text_section > div .menu{display: flex;}
.text_section > div .menu li{font-size: 2rem; margin-right: 80px; text-shadow: -.25px -.25px 0 transparent, .25px .25px transparent;}
.text_section > div .menu li:last-child{margin-right: 0;}

.nav-icon {width: 20px; height: 20px; display: none;}
.nav-icon:after, .nav-icon:before, .nav-icon div {background-color: #707070; border-radius: 3px; content: ''; display: block; height: 3px; margin: 3px 0; transition: all .2s ease-in-out;}
.nav-icon:hover:before {transform: translateY(6px) rotate(45deg);}
.nav-icon:hover:after {transform: translateY(-6px) rotate(-45deg);}
.nav-icon:hover div {transform: scale(0);}

.nav-icon:hover .menu{display: flex;}
.text_section > div .menu li:hover a{color: #805E40; text-shadow: -.25px -.25px 0 #805E40, .25px .25px #805E40;}

/* product영역 */
.product{}
.product_section{padding-top: 135px; padding-bottom: 140px;}
.product_section .intro_text{display: flex; flex-direction: column;}
.product_section .intro_text p{font-size: 2.5rem; margin-bottom: 10px;}
.product_section .intro_text h3{color: #6A6A6A; margin-bottom: 40px;}
.product_section .intro_text span{font-size: 2rem;}

.list{padding-top: 85px; display: flex; flex-wrap: wrap; justify-content: space-between;}

.flip_container{perspective: 1000px; width: 32%; padding-bottom: 2%;}
.flip_container:nth-child(3n){padding-right: 0;}
.flip_container .flipper{position: relative; transition: 0.6s; transform-style: preserve-3d;  width: 100%; height: 480px;}

.flip_container .flipper .front{ z-index:2; transform:rotateY(0deg); width: 100%; height: 100%; border-radius: 20px; background-color: #F6EDE6; box-shadow: 2px 2px 5px rgba(0,0,0,0.10); text-align: center;}
.flip_container .flipper .front .heart{position: absolute; top: 25px; left:25px;}
.flip_container .flipper .front h5{font-size: 1.5rem;}
.flip_container .flipper .front h4{font-size: 2.5rem; font-weight: bold;}
.flip_container .flipper .front span{display:inline-block; font-size: 1.5rem; text-decoration-line: line-through;}
.flip_container .flipper .front p{font-size: 2rem; font-weight: bold;}

.flip_container .flipper .back{transform:rotateY(180deg); width: 100%; height: 100%; border-radius: 20px; background-color: rgba(106, 106, 106, 0.7); box-shadow: 2px 2px 5px rgba(0,0,0,0.10); display: flex; justify-content: center; align-items: center;}
.flip_container .flipper .back .look{background-color: #F8F3EF; width: 200px; height: 60px; font-family:'NanumSquare', 'Nanum Gothic', 'MalgunGothic', 'Dotum', 'Gulim', 'Arial', sans-serif; color :#6A6A6A; font-size: 1.5rem;}

.back, .front{position: absolute; backface-visibility:hidden;}

/* :hover */
.flip_container:hover .flipper, flip_container:hover .flipper {transform: rotateY(180deg);}

.product_section .nav{margin-top: 100px;}
.product_section .nav ul{display: flex; justify-content: center;}
.product_section .nav ul li{font-size: 2rem; font-weight: bold; background-color: #fff; width: 40px; height: 40px; border-radius: 20px; display: flex; justify-content: center; align-items: center; margin-right: 50px; transition: 0.5s;}
.product_section .nav ul li:hover{background-color: #F6EDE6;}
.product_section .nav ul li:last-child{margin-right: 0;}
.product_section .search{margin-top: 50px;}

@media (max-width: 767px) {
    /* text영역 */
    .text_section{margin-top: 55px; width: 100%;}
    .text_section > div{justify-content: space-between; align-items: center; position: relative;}
    .text_section > div h3{font-size: 2.5rem; margin-right: 0px;}
    .text_section > div .menu{display: flex; opacity: 0; position: absolute; top: 35px; left: 50%; transform: translateX(-50%); z-index: 5; transition: 0.5s ease-in-out; margin-top: 5px;}
    .text_section > div .menu li{font-size: 1rem; margin-right: 40px;}
    .nav-icon{display: block;}

    /* :hover영역 */
    .nav-icon:hover + .menu{opacity:1;}

    /* product영역 */
    .product_section{padding-top: 40px; padding-bottom: 40px;}
    .product_section .intro_text p{font-size: 1.5rem;}
    .product_section .intro_text h3{margin-bottom: 20px;}
    .product_section .intro_text span{font-size: 1rem;}

    .list{padding-top: 30px;}
    .flip_container{width: 48%; margin-bottom: 0; padding-bottom: 4%;}
    .flip_container .flipper{height: auto;}
    .flip_container .flipper .front img{width: 80%;}
    .flip_container .flipper .front h5{font-size: 1rem; margin-bottom: 5px; }
    .flip_container .flipper .front h4{font-size: 1.25rem; margin-bottom: 5px;}
    .flip_container .flipper .front span{font-size: 1rem;}
    .flip_container .flipper .front p{font-size: 1.1rem; }
    .flip_container .flipper .front .heart{display: none;}
    .flip_container .flipper .back .look{width: 120px; height: 35px; font-size: 1rem;}

    .product_section .nav{margin-top: 25px;}
    .product_section .nav ul{justify-content: space-evenly;}
    .product_section .nav ul li{margin-right: 0; font-size: 1rem; width: 20px; height: 20px;}
    .product_section .search{margin-top: 30px;}

    .back, .front {position: static; padding-bottom: 10px;}
    .flip_container .flipper .back{display: none;}

}

