@import url(common.css);

/* main영역 */
.main{background-color: #F8F3EF; width: 100%; overflow: hidden;}
.main .container{}
.main::before{content: ''; display: block; width: 630px; height: 850px; background-color: #F6EDE6; border-radius: 315px; float: right; margin-right: 100px; margin-top: 80px;}

.main_section{background-image: url(../img/headerbiglogoimg.png); background-repeat: no-repeat; background-position: right 200px; position: relative; padding-bottom: 150px;}

.main_section .text{display: flex; flex-direction: column; padding-top: 420px;}
.main_section .text span{display: block; font-size: 2.5rem; font-family: 'Montserrat', sans-serif;}
.main_section .text h2{font-size: 5rem; font-weight: bold; font-family: 'Montserrat', sans-serif; margin-top: 20px;}
.main_section .text p{font-size: 2rem; font-weight: bold; margin-top: 35px; width: 85%;}
.main_section button{margin-top: 65px;}
.main_section .slide_bar{margin-top: 60.5px; display: block; width: 50%; height: 5px; background: rgba(128, 94, 64, 0.15);}
.main_section .slide_bar .status{width: 0%; height: 5px; background: #805E40;}

.main_section .main_img {position: absolute; right: -220px; top: 70px; overflow: hidden; width: 690px; height: 900px; vertical-align: top;}
.main_section .main_img img{width: 100%; opacity: 0; z-index: 0; position: absolute; transition:  opacity 1.5s ease-out;}
.main_section .main_img .showing{z-index: 1; opacity: 1;}

/* about영역 */
.about{width: 100%; background-color: #FBF6F2;}
.about h2{text-transform: uppercase; font-size: 15rem; font-family: 'Montserrat', sans-serif; font-weight: 700; color: #805E40; opacity: 30%; display: flex; justify-content: center;}
.about_section{padding: 110px 0px 290px;}
.about_section::after{content: ''; display: block; clear: both;}
.about_section .about_text{padding-top: 180px; width: 40%; float: left; display: flex; justify-content: center; flex-direction: column;}
.about_section .about_text h3{margin-bottom: 40px;}
.about_section .about_text span{font-size: 1.7rem;}
.about_section .about_text .mobile_txt{display: none;}
.about_section .about_img{padding-top: 100px; padding-right: 100px; float: right; position: relative;}
.about_section .about_img img:first-child{vertical-align: top;}
.about_section .about_img img:last-child{position: absolute; right: 0; top: 320px;} 

/* best영역 */
.best{background-color: #F8F2EE; width: 100%; background-image: url(../img/tree.png); background-repeat: no-repeat; background-position: top left; overflow: hidden;}
.best_section{}
.bestTop_section{display: flex; justify-content: space-between; align-items: center; padding-top: 205px;}
.best_section h3{}
.best_section button{}
.best_section .list{padding-top: 120px; padding-bottom: 195px; width: 100%; display: flex;}
.best_section .list .contents{flex-shrink: 0; width: 35%; padding: 25px; border-radius: 20px; background-color: #F6EDE6; box-shadow: 2px 2px 5px rgba(0,0,0,0.10); margin-right: 30px; position: relative; text-align: center; height: auto;}
.best_section .list .contents .heart{position: absolute; top: 25px; left: 25px;}
.best_section .list .contents img{}
.best_section .list .contents h4{font-size: 2.3rem; font-weight: bold;}
.best_section .list .contents p{font-size: 2rem; margin-top: 15px;}
.best_section .list .contents .add{margin-top: 20px;}

/* personal영역 */
.personal{background-color: #FBF6F2; width: 100%; background-image: url(../img/tree2.png); background-repeat: no-repeat; background-position: right top;}
.personal::before{content: ''; display: block; width: 570px; height: 775px; background-color: #F6EDE6; border-radius: 315px; float: right; margin-right: 275px; margin-top: 150px; opacity: 50%;}
.personal_section{position: relative; padding-top: 275px; padding-bottom: 155px;}
.personal_section::after{content: ''; display: block; clear: both;}
.personal_section .personal_text{width: 40%; float: left; display: flex; justify-content: center; flex-direction: column;}
.personal_text h3{margin-bottom: 40px;}
.personal_text span{font-size: 1.7rem; margin-bottom: 40px;}
.personal_text .mobile_txt{display: none;}
.personal_text span:last-child{margin-bottom: 0;}
.personal_section img{position: absolute; top: 350px; right: 0;}

/* news영역 */
.news{background-color: #F8F2EE; width: 100%;}
.news_section{padding-top: 230px; padding-bottom: 230px; display: flex; justify-content: space-between;}
.news_section .news_text{width: 480px; background-color: #F6EDE6; border-radius: 315px; text-align: center; display: flex; justify-content: center; flex-direction: column; align-items: center; margin-right: 100px;}
.news_section .news_text h3{margin-bottom: 40px;}
.news_section .news_text span{font-size: 2rem; margin-bottom: 60px;}




@media (max-width: 767px) {

    /* main영역 */
    .main::before{width: 280px; height: 380px; margin-right: 0; margin-right: 0px; margin-top: 0px;}
    .main_section{background-image: url(../img/mobilebigicon.png); background-position: left 80px; padding-bottom: 30px;}
    .main_section .main_img{right: -75px; top: 40px; width: 95%;}
    .main_section .text{display:inline-block; padding-top: 0;}
    .main_section .text span{display: inline-block; font-size: 1rem;}
    .main_section .text h2{font-size: 2rem; margin-top: 15px;}
    .main_section .text p{margin-top: 20px; line-height: 2rem; font-size: 1rem; font-weight: 500;}
    .main_section button{margin-top: 15px; margin-bottom: 15px;}
    .main_section .slide_bar{display: none;}

    
    /* about영역 */
    .about h2{font-size: 50px; margin-bottom: 40px;}
    .about_section{padding: 40px 0px 40px; position: relative;}
    .about_section .about_text{width: 100%; padding-top: 240px; align-items: center;}
    .about_section .about_text h3{margin-bottom: 20px;}
    .about_section .about_text span:nth-of-type(1){display: none;}
    .about_section .about_text .mobile_txt{display: block; font-size: 1rem; line-height: 2rem; text-align: justify;}
    .about_section .about_img{padding-top: 0; padding-right: 0;  position: absolute; top: 90px;}
    .about_section .about_img img:first-child{width: 100%; height: auto;}
    .about_section .about_img img:last-child{display: none;} 

    
    /* best영역 */
    .best{background-size: 60%;}
    .best_section{text-align: center; padding-bottom: 50px; padding-top: 40px;}
    .bestTop_section{display: block; padding-top: 0px; padding-bottom: 40px;}
    .best_section button{display: none;}
    .best_section .list{padding: 0;}
    .best_section .list .contents{width: 60%; margin-right: 20px; padding: 10px;}
    .best_section .list .contents .heart{top: 15px; left: 15px; width: 20px; height: 20px;}
    .best_section .list .contents img{width: 130px; height: 170px;}
    .best_section .list .contents h4{font-size: 1.25rem;}
    .best_section .list .contents p{font-size: 1rem; margin-top: 10px;}
    .best_section .list .contents .add{margin-top: 10px; width: 20px; height: 20px;} 


    /* personal영역 */
    .personal{background-size: 60%;}
    .personal::before{width: 255px; height: 310px; margin-top: 40px; margin-right: 0px;}
    .personal_section{padding-top: 0px; padding-bottom: 40px;}
    .personal_section .personal_text{width: 100%;}
    .personal_text h3{margin-bottom: 20px;}
    .personal_text span{display: none;}
    .personal_text .mobile_txt{font-size: 1rem; line-height: 2rem; margin-bottom: 25px; display: block; text-align: justify;}
    .personal_section img{width: 90%; top: 90px; left: 45%; transform: translateX(-45%);}


    /* news영역 */
    .news_section{padding-top: 40px; padding-bottom: 40px;}
    .news_section::after{display: block; clear: both; content: '';}
    .news_section .news_text{float: left; width: 60%; margin-right: 30px;}
    .news_section .news_text h3{margin-bottom: 20px;}
    .news_section .news_text span{font-size: 1rem; line-height: 2rem; margin-bottom: 10px;}
    .news_section img:nth-of-type(1){float: right; width: 30%; margin-top: 0;}
    .news_section img:nth-of-type(2){display: none;}

}














